<audio src="/sounds/opening.mp3" autoplay></audio>

<img src="/images/pokeLogo.png">


<div id='scoreboard'>Score: </div>


<aside>
	<ul>
	<p>leftkey: Move Left</p>
	<p>rightkey: Move Right</p>
	<p>space: Shoot</p>
	<p><img src="/images/live.png" height= 30 width= 30>: Lives</p>
	<p><img src="/images/moltres.gif" height= 40 width= 40>: Instant Death</p>
	<p><img src="/images/mewtwo.gif" height= 40 width= 40>: Enemy</p>
	<p><img src="/images/zubat.gif" height= 40 width= 40>: Enemy Bullets</p>
	</ul>
</aside>


<canvas></canvas>





<footer>This content is not affilitated with Nintendo, or The Pokemon Company. This shooter was created for education purposes.</footer>